---
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro";

import "@root/index.scss";
---

<BaseLayout>
  <div id="index">
  <img src="/logo.svg" alt="ArmCord Logo :O" />
  <div id="download-options">
    <Button name="Home" href="/" />
    <Button name="Download" href="/download" />
    <Button name="FAQ" href="/faq" />
  </div><br>
  <div id="download">
    <div>
      <Button name="Windows" href="https://github.com/ArmCord/ArmCord/releases/download/v3.0.8/ArmCord.Setup.3.0.8.exe" />
      <Button name="Linux" href="/download/linux" />
      <Button name="macOS" href="https://github.com/ArmCord/ArmCord/releases/download/v3.0.8/ArmCord-3.0.8.dmg" />
    </div>
  </div>
  </div>
</BaseLayout>