---
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro";
import "@root/index.scss";
---

<BaseLayout>
  <div id="download">
    <h1>What Windows version are you running?</h1>
    <div>
      <Button name="Win10/11+" href="/download/windows/exe" />
      <Button name="Win7/8.1" href="https://github.com/ArmCord/ArmCord/releases/tag/e22" />
    </div>
  </div>
</BaseLayout>