---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";

import "@root/index.scss";
---

<BaseLayout>
	<div id="index">
    <img src="/logo.svg" alt="ArmCord Logo :O" />
    <div id="home-options">
      <Button name="Home" href="/" />
      <Button name="Download" href="/download" />
      <Button name="FAQ" href="/faq" />
    </div><br>
    <div id="cards">
      <Card width="380px" title="Various mods built in!">
        Enjoy Vencord and Shelter, and their many features. Or if you want a more vanilla experience, you can do that too, it's up to you!
      </Card>
      <Card width="380px" title="Made for Privacy&trade;">
        ArmCord automatically blocks all of Discord's trackers, so even without any client mods, you can feel safe and secure!
      </Card>
      <Card width="380px" title="Completely Open Source">
        Yup! ArmCord's source code is available on <a href="https://github.com/ArmCord/ArmCord">GitHub</a> under the <a href="https://choosealicense.com/licenses/osl-3.0/">OSL-3.0 license</a>.
      </Card>
      <Card width="380px" title="Cross-Platform Support!">
        ArmCord was originally created for ARM64 Linux devices, since Discord doesn't support them. We soon decided to support every platform that <a href="https://github.com/electron/electron#platform-support">Electron supports</a>!
      </Card>
      <Card width="380px" title="Plusieurs Langues">
        We're not sure what that means, but ArmCord might! Thanks to <a href="https://weblate.org">Weblate</a>, ArmCord is more accessible to people of all languages! See something that doesn't make sense? You can <a href="https://weblate.org">help out</a>!
      </Card>
    </div>
  </div>
</BaseLayout>