---
import BaseLayout from "@layouts/BaseLayout.astro";
import Card from "@components/Card.astro";
import CardWithImage from "@components/CardWithImage.astro";
import "@root/index.scss";
---

<BaseLayout>
	<div id="index">
    <h1>Features</h1>
    <div id="cards">
      <CardWithImage title="Customizable" img="transparency.jpg" alt="ArmCord with transparency mode turned on">
        Do you want your client to be transparent? Or you want your Discord to be more dark? ArmCord support theming natively!
      </CardCardWithImage>
      <CardWithImage title="Various mods built in" img="win10.jpg" alt="ArmCord with Vencord settings">
        Enjoy Vencord, Shelter and their many features, or have a more vanilla experience, it's your choice! Import plugins and enhance your client.
      </CardCardWithImage>
      <CardWithImage title="Designed to work everywhere" img="vista.png" alt="ArmCord running on Windows Vista">
       ArmCord supports and <b>actually</b> works on all major operating systems. Some members of our community got ArmCord to work on Windows Vista/XP!
      </CardCardWithImage>  
    </div>
    <h1>ArmCord for...</h1>
    <div id="cards">
      <Card title="Casual user">
        ArmCord is built specifically for ease of use. You no longer have to deal with the hassle of installing mods. Just download, run and pick what suits you the best!
      </Card>
      <Card title="Gamers">
        Are you tired of Discord app taking your precious ram in the background? Try out ArmCord, it's much lighter and detects your games like a charm!
      </Card>
      <Card title="Developers">
        ArmCord is completely open source, you can create themes and plugins for it. It's very hackable and doesn't block you to look what's inside.
      </Card>
      <Card title="Linux users">
        Are you tired of the official app being sluggish, unresponsive and not working properly? Try out ArmCord! It's built with Linux in mind and works flawlessly.
      </Card>
    </div>
    <h1>Extras</h1>
    <div id="cards">
      <Card title="Made for Privacy™">
        ArmCord automatically blocks all of Discord's trackers; even without any client mods, you can feel safe and secure! We also don't collect any data from you.
      </Card>
      <Card title="Much more stable">
        ArmCord is using a newer build of Electron than the stock Discord app. This means you can have a much more stable and secure experience, along with slightly better performance.
      </Card>
      <Card title="Mobile support">
        ArmCord has experimental mobile/touch support for phones running Linux such as the PinePhone. While this is still far from an ideal solution, we're slowly trying to improve it.
      </Card>
      <Card title="Standalone client">
        ArmCord is built as a standalone client and doesn't rely on the original Discord client in any way. No Discord code here and no injectors! 
      </Card>
    </div>
  </div>
</BaseLayout>