---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";

import "@root/index.scss";
---

<BaseLayout>
	<div id="index">
    <img src="/logo.svg" alt="ArmCord Logo :O" />
    <div id="home-options">
      <Button name="Home" href="/" />
      <Button name="Download" href="/download" />
      <Button name="FAQ" href="/faq" />
    </div><br>
    <div id="cards">
      <Card title="Various mods built in">
        Enjoy Cumcord, GooseMod, Flicker, and their many features, or have a more vanilla experience, it's your choice!
      </Card>
      <Card title="Made for Privacy&trade;">
        ArmCord automatically blocks all of Discord's trackers; even without any client mods you can feel safe and secure!
      </Card>
      <Card title="Cross-platform support!">
        ArmCord was originally created for ARM64 Linux devices, since Discord doesn't support them. We soon decided to support every platform that <a href="https://github.com/electron/electron#platform-support">Electron supports</a>!
      </Card>
    </div>
  </div>
</BaseLayout>