---
import BaseLayout from "@layouts/BaseLayout.astro";
import CardWithImage from "@components/CardWithImage.astro";
import "@root/index.scss";
---

<BaseLayout>
	<div id="screenshots">
    <div id="cards">
      <CardWithImage title="ArmCord with transparency mode turned on" img="transparency.jpg">
      </CardCardWithImage>
      <CardWithImage title="ArmCord with Vencord settings" img="win10.jpg">
      </CardCardWithImage>
      <CardWithImage title="ArmCord running on Windows Vista" img="vista.png">
      </CardCardWithImage>  
      <CardWithImage title="ArmCord running on Windows XP" img="xp.png">
      </CardCardWithImage>  
      <CardWithImage title="First in history ArmCord 1080p stream" img="screenshots/1080p.png">
      </CardCardWithImage>  
      <CardWithImage title="eePC experience" img="screenshots/eepc.jpg">
      </CardCardWithImage>  
      <CardWithImage title="Nintendo Switch running ArmCord" img="screenshots/switch.jpg">
      </CardCardWithImage>  
      <CardWithImage title="Another Switch screenshot" img="screenshots/switch2.png">
      </CardCardWithImage>  
      <CardWithImage title="ArmCord running on Windows Vista" img="screenshots/vista.png">
      </CardCardWithImage>  
    </div>
  </div>
</BaseLayout>