---
const { href, name } = Astro.props;
---

<style lang="scss">
  a {
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #2f3136;
    color: #95a7b3;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #7289da;
      color: #2f3136;
    }
  }
</style>

<a href={href}>{name}</a>