---
const { href, name } = Astro.props;
---

<style lang="scss">
  a {
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #7289da;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
    &:hover {
      background-color: #5c6fb1;
      transition: .17s ease;
    }
  }
</style>

<a href={href}>{name}</a>