---
const { title } = Astro.props;
---

<style lang="scss">
  div {
    margin: 1rem;
    color: #95a7b3;
    width: 400px;
    background-color: #2f3136;
    font-family: sans-serif;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 1rem;

    &:hover {
      color: #dddddd;
      transition: color 0.4s;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    }
  }

  content {
    display: block;
    padding: 0 1rem;
    font-size: large;
  }
</style>

<div>
  <h2> {title} </h2>
  <content>
    <slot />
  </content>
</div>