<footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center items-center">
      <ul class="flex space-x-4 flex-wrap justify-center">
        <li><a href="/download" class="text-sm text-gray-400 hover:text-white">Download</a></li>
        <li><a href="/" class="text-sm text-gray-400 hover:text-white">Features</a></li>
        <li><a href="/faq" class="text-sm text-gray-400 hover:text-white">FAQ</a></li>
        <li><a href="https://github.com/ArmCord/ArmCord" class="text-sm text-gray-400 hover:text-white">GitHub</a></li>
        <li><a href="https://discord.gg/TnhxcqynZ2" class="text-sm text-gray-400 hover:text-white">Discord</a></li>
      </ul>
    </div>
    <div class="mt-4 text-center text-xs text-gray-400">
      <p>Discord is a trademark of Discord Inc. ArmCord is not affiliated with or endorsed by Discord Inc.</p>
    </div>
  </div>
</footer>