---
import '@root/index.scss';
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
---

<BaseLayout>
  <script is:inline src="/getLatest.js"></script>
  <div id="index">
  <img src="/logo.svg" alt="ArmCord Logo :O" />
  <div id="options">
    <Button name="Home" href="/" />
    <Button name="Download" href="/download" />
    <Button name="FAQ" href="/faq" />
  </div><br>
  <div id="download">
    <Card>
      <h2 style="display: inline-block; transform: translateY(2px); padding-top: 16px; font-weight: normal; font-style: italic;">AMD64</h2>
      <Button name="DEB" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord_VERSIONNUM_amd64.deb`} />
      <Button name="AppImage" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM.AppImage`} />
      <Button name="TAR" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM.tar.gz`} />
      <Button name="RPM" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM.x86_64.rpm`} />
    </Card>
    <Card>
      <h2 style="display: inline-block; transform: translateY(2px); padding-top: 16px; font-weight: normal; font-style: italic;">ARM64</h2>
      <Button name="DEB" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord_VERSIONNUM_arm64.deb`} />
      <Button name="AppImage" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM-arm64.AppImage`} />
      <Button name="TAR" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM-arm64.tar.gz`} />
      <Button name="RPM" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM.aarch64.rpm`} />
    </Card>
    <Card>
      <h2 style="display: inline-block; transform: translateY(2px); padding-top: 16px; font-weight: normal; font-style: italic;">ARM32</h2>
      <Button name="DEB" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord_VERSIONNUM_armv7l.deb`} />
      <Button name="AppImage" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM-armv7l.AppImage`} />
      <Button name="TAR" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM-armv7l.tar.gz`} />
      <Button name="RPM" href={`https://github.com/ArmCord/ArmCord/releases/download/vVERSIONNUM/ArmCord-VERSIONNUM.armv7l.rpm`} />
    </Card>
  </div>
  </div>
</BaseLayout>