---
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro";

import "@root/index.scss";
---

<BaseLayout>
  <div id="index">
  <img src="/logo.svg" alt="ArmCord Logo :O" />
  <div id="options">
    <Button name="Home" href="/" />
    <Button name="Download" href="/download" />
    <Button name="FAQ" href="/faq" />
  </div><br>
  <div id="download">
    <div>
      <Button name="DEB" href="/download/linux/deb" />
      <Button name="RPM" href="/download/linux/rpm" />
      <Button name="AppImage" href="/download/linux/appimage" />
      <Button name="TAR" href="/download/linux/tar" />
    </div>
  </div>
  </div>
</BaseLayout>