---
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro";

import "@root/index.scss";
---

<BaseLayout>
  <div id="download">
    <h1>Downloads</h1>
    <div>
      <Button name="AMD64" href="https://github.com/ArmCord/ArmCord/releases/download/v3.0.7/ArmCord-3.0.7.tar.gz" />
      <Button name="ARM64" href="https://github.com/ArmCord/ArmCord/releases/download/v3.0.7/ArmCord-3.0.7-arm64.tar.gz" />
      <Button name="ARM32" href="https://github.com/ArmCord/ArmCord/releases/download/v3.0.7/ArmCord-3.0.7-armv7l.tar.gz" />
    </div>
  </div>
</BaseLayout>