// BaseLayout CSS
body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif;
  margin: 0;
  background-color: #36393f;
}
@media only screen and (hover: none) and (pointer: coarse){
  nav {
    display: contents !important;
  }
  body {
    font-size: 15px!important;
  }
}
nav {
  display: flex;
  background-color: #2f3136;
  align-items: center;
 
  img {
    width: 120px;
    padding: 0rem 1rem 0rem 0.5rem;
  }
}

.column {
  max-width: 1280px;
  margin: 0 auto;
}

.legal {
  color: white;
}

// FAQLayout CSS
#faq {
  margin: auto;
  text-align: center;
  text-wrap: balance;
  color: #95a7b3;
  
  a {
    color: #7289da;
    &:visited {
      color: #7289da;
    }
  }
}

// index.astro CSS
#index {
  display: flex;
  flex: 1;
  align-items: center;
  color: #95a7b3;
  flex-direction: column;
  
  #cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
}
// screenshots.astro
#screenshots {
  flex: 1;
  align-items: center;
  color: #95a7b3;
  flex-direction: column;
  
  #cards {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
  }
}
// download/index.astro CSS
#download {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  color: #95a7b3;
}
