// BaseLayout CSS
body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  background-color: #36393f;
}

// FAQLayout CSS
#faq {
  text-align: center;
  color: #fff;
  font-family: sans-serif;

  a {
    color: #7289da;
    transition: .17s ease;
    text-decoration: none;
    font-weight: 450;
    &:visited {
      color: #7289da;
    }
    &:hover {
      color: #5c6fb1;
      transition: .17s ease;
    }
  }
}

// index.astro CSS
#index {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  img {
    width: 400px;
    padding-bottom: 1rem;
  }

  #cards {
    display: flex;
    flex-flow: row wrap;
    a {
      color: #7289da;
      transition: .17s ease;
      text-decoration: none;
      font-weight: 450;
      &:visited {
        color: #7289da;
      }
      &:hover {
        color: #5c6fb1;
        transition: .17s ease;
      }
    }
  }
}

// download/index.astro CSS
#download {
  align-items: center;
  font-family: sans-serif;
  color: #fff;
  padding-top: 1rem;
  border-top: 2px solid #7289da;
}

// option stuff

#home-options [href="/"], #download-options [href="/download"], #faq-options [href="/faq"] {
  background: #43b581;
  pointer-events: none;
}

footer {
  text-align: center;
  font-family: sans-serif;
  color: #7289da;
  background-color: #2f3136;
  padding: 8px;
  display: fixed;
}