---
import "@root/index.scss";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ArmCord is a custom client designed to enhance your Discord experience while keeping everything lightweight.">

    <title>ArmCord</title>
  </head>
  <body>
    <slot />
<div id="footer">ArmCord Team &copy;</div>
  </body>
</html>