---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button.astro";

import "@root/index.scss";
---

<BaseLayout>
  <div id="index">
    <img src="/logo.svg" alt="ArmCord Logo :O" />
    <div id="faq-options">
      <Button name="Home" href="/" />
      <Button name="Download" href="/download" />
      <Button name="FAQ" href="/faq" />
    </div><br>
  <div id="faq">
    <slot />
  </div>
</div>
</BaseLayout>