---
import BaseLayout from "@layouts/BaseLayout.astro"
import Card from "@components/Card.astro";
import Button from "@components/Button.astro";
import "@root/index.scss";
---

<BaseLayout>
  <div id="index">
  <img src="/logo.svg" alt="ArmCord Logo :O" />
  <div id="faq-options">
    <Button name="Home" href="/" />
    <Button name="Download" href="/download" />
    <Button name="FAQ" href="/faq" />
  </div><br>
  <div id="faq"><br>
    <div id="cards">
      <Card width="380px" title='"What is ArmCord?"'>
        ArmCord is a custom client designed to enhance your Discord experience while keeping everything lightweight.
      </Card>
      <Card width="380px" title='"Will I get banned for using ArmCord?"'>
        You are breaking <a href="https://discord.com/terms#software-in-discord%E2%80%99s-services">Discord ToS</a> by using ArmCord, <u><b>however</b></u> no one has been banned from using it or any of the client mods included.
      </Card>
      <Card width="380px" title='"Can I use this on things other than ARM?"'>
        ArmCord should work without trouble under Windows, MacOS and Linux as long as it has <a href="https://github.com/electron/electron#platform-support">Electron support</a>.
      </Card>
      <Card width="380px" title='"How does it work?"'>
        We are using the official web app and adding some magic powder to make it all work!
      </Card>
      <Card width="380px" title='"Where can I find the source code?"'>
        The source code is available on <a href="https://github.com/ArmCord/ArmCord/">GitHub</a>.
      </Card>
    </div>
  </div>
  </div>
</BaseLayout>